body {
    background-color: rgb(255, 255, 255);
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribui os elementos */
    background-color: rgb(233, 250, 80);
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona um efeito de sombra */
}

.logo-container {
    display: flex;
    align-items: center;
}

.imgs {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.titulo {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.adicionar-nota {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
}


.espaco {
    margin-top: 30px;
}

.notas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espaço entre os blocos */
    justify-content: center;
}

.nota-card {
    width: 250px;
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;

}

.nota-card:hover {
    transform: scale(1.05);
}

.nota-card h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.nota-card p {
    font-size: 14px;
    color: #555;
}

.nota-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.nota-actions .btn {
    font-size: 14px;
    padding: 5px 10px;
}
