{% extends 'base.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Adicionar nota</h3><hr>
      <form method='post' action='{{url_for("add_note")}}'>
        <div class='form-group'>
          <label>Titulo</label>
          <input type='text' name='titulo' required class='form-control'>
        </div>
        <div class='form-group'>
          <label>Detelhe</label>
          <textarea name="detalhes" rows="5" cols="50">{{ detalhes }}</textarea>
        </div>
        <input type='submit' value='Submit' class='btn btn-primary'>
      </form>
    
    </div>
  </div>
{% endblock %}
