{% extends 'base.html' %}
{% block body %}
  <div class="notas-container">
    {% for row in datas %}
      <div class="nota-card random-bg">
        <h4>{{ row.TITULO }}</h4>
        <p>{{ row.DETALHES }}</p>
        <div class="nota-actions">
          <a href="{{ url_for('edit_note', uid=row.UID) }}" class="btn btn-primary">Editar</a>
          <a href="{{ url_for('delete_note', uid=row.UID) }}" class="btn btn-danger" >Excluir</a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}